# Dataframes

In [13]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [24]:
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,178.93
1,15,2.97,58.20,Jennifer Lopez,158.20
2,30,3.26,67.47,Jennifer Lopez,167.47
3,60,4.69,37.47,Jennifer Lopez,137.47
4,120,5.83,45.65,Jennifer Lopez,145.65
5,240,6.00,32.92,Jennifer Lopez,132.92
6,480,6.41,29.97,Jennifer Lopez,129.97

In [15]:
type(data)

pandas.core.frame.DataFrame

A dataframe is a collection with a clearly defined structure
Its structured in rows and columns just like a spreadsheet

You can grab columns by doing the following:  
dataframe_Name['column_name']

In [16]:
onlyMathScores = data['Avg_Math_Test_Score']

In [23]:
onlyMathScores

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

## Adding Columns

In [22]:
data['Test_Subject'] = 'Jennifer Lopez'
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,178.93
1,15,2.97,58.20,Jennifer Lopez,158.20
2,30,3.26,67.47,Jennifer Lopez,167.47
3,60,4.69,37.47,Jennifer Lopez,137.47
4,120,5.83,45.65,Jennifer Lopez,145.65
5,240,6.00,32.92,Jennifer Lopez,132.92
6,480,6.41,29.97,Jennifer Lopez,129.97

In [21]:
data['High_Score'] = 100 + data['Avg_Math_Test_Score']
data

,Time_Delay_in_Minutes,LSD_ppm,Avg_Math_Test_Score,Test_Subject,High_Score
0,5,1.17,78.93,Jennifer Lopez,178.93
1,15,2.97,58.20,Jennifer Lopez,158.20
2,30,3.26,67.47,Jennifer Lopez,167.47
3,60,4.69,37.47,Jennifer Lopez,137.47
4,120,5.83,45.65,Jennifer Lopez,145.65
5,240,6.00,32.92,Jennifer Lopez,132.92
6,480,6.41,29.97,Jennifer Lopez,129.97