# Pandas
+ Pandas is an open source library built on top of NumPy
+ It allows for fast analysis and data cleaning and preparation
+ It excels in performance and productivity'It has built-in visualization features
+ It can work with data from a wide variety of sources

## Series
A series is similar to a numpy array, it is built on top numpy array object. What makes it different is that it can be indexed by a label

In [ ]:
import numpy as np
import pandas as pd

### Creating Series

In [ ]:
labels = ['a', 'b', 'c']
my_data = [10, 20, 20]
arr = np.array(my_data)
dictionary = {'a':10, 'b':20, 'c':30}

In [ ]:
pd.Series(data=my_data) # By default series are index numerical
pd.Series(data=my_data, index=labels) # setting custom indexs/labels
pd.Series(arr) # creating series with np array
pd.Series(dictionary) # creating series with a dictionary

### Grabbing Info From Series

In [ ]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])
ser1['USA'] # returns value at the USA index
ser1[0] # return value at the 0 index

ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

ser1 + ser2 # Operations on series are based on the index, if index doesn't exists it outputs NaN

## DataFrames
DataFrames are a bunch of series that share an index.

In [ ]:
from numpy.random import randn
np.random.seed(101) # Makes sure the same random numbers are generated

In [ ]:
df = pd.DataFrame(data=randn(5,4), index=['A','B','C','D','E'], columns=['W', 'X', 'Y', 'Z'])
df

### Selecting and Indexing

In [ ]:
df['W'] # returns the W column which is a series
type(df['W']) # returns the type

df[['W', 'Z']] # returns multiple series in the form of a dataframe

### Creaing Columns, Dropping Columns, and Selecting Rows

In [ ]:
df['new'] = df['W'] + df['Z'] # Creating a new column

df.drop('new', axis=1, inplace=True) # Deleting a column, to delete row set axis to 0, inplace needs to be set to true to save changes
df.drop('E', inplace=True) # Deleting a row

df.loc['A'] # Selecting the A row and retuns a series, selects with label index
df.iloc[2] # selecting with numerical index
df.loc['A', 'Y'] # Selects row and column
df.loc[['A', 'B'], ['W','Y']]

### Conditional Selection

In [ ]:
df[df>0] # A DataFrame where all the values are greater than zero, NaN if there a false
df[df['W']>0] # DataFrame where all the values in column W are greater than 0
df[df['W']>0]['Y'] # We can chain df functions on conditional selection

For two conditions you can use | and & with parenthesis:

In [ ]:
df[(df['W']>0) & (df['Y'] > 1)]

### More Index Details

In [ ]:
df.reset_index # Reset index to default 0,1...n

new_index = 'CA NY WY OR CO'.split()
df['States'] = new_index # New column
df.set_index('States', inplace=True) # Setting a column to be the new index

### Multi-Index and Index Hierachy

In [ ]:
# Setting up multi-level indexes
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

In [ ]:
df.loc['G1'] # Selects the rows in the G1 index
df.loc['G1'].loc[1] # Selects row 1 in the G1 index

df.index.names = ['Group', 'Num'] # Naming our columns
df.index.names

df.xs('G1') # Selects the rows in the G1 index
df.xs(['G1', 1]) # Selects row 1 in the G1 index
df.xs(1, level='Num') # Selects all the row 1's from the Num index

## Missing Data

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                   'B':[5,np.nan,np.nan],
                   'C':[1,2,3]})
df

In [ ]:
# Remember you need the inplace=True argument to do the operation in place
df.dropna() # Drop all the rows with NaN
df.dropna(axis=1) # Drop all the columns with NaN
df.dropna(thresh=2) # Require that many non-NA values per row
df.fillna(value='FILL VALUE') # Replace all the NaN values with the given value

## GroupBy

In [ ]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}
df = pd.DataFrame(data)
df

In [ ]:
by_comp = df.groupby("Company") # Created a GroupBy object, these values become like an index
by_comp.mean() # Returns the mean of all the values in each row belong to a index in the Company
by_comp.std()
by_comp.min()
by_comp.max()
by_comp.count()
by_comp.describe()
by_comp.describe().transpose()
by_comp.describe().transpose()['GOOG'] # Describes just the GOOG index

## Merging, Joining, and Concatenating

### Concatenation
Concatenation basically glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on.

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                    index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                    index=[4, 5, 6, 7])

pd.concat([df1,df2])

### Merging

The **merge** function allows you to merge DataFrames together using a similar logic as merging SQL Tables together. For example:

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                       'A': ['A0', 'A1', 'A2', 'A3'],
                       'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']})    

pd.merge(left,right,how='inner',on='key')

### Joining
Joining is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                      'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

left.join(right)

## Operations
There are lots of operations with pandas that will be really useful to you, but don't fall into any distinct category. Let's show them here in this lecture:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

### Selecting Data

In [ ]:
df['col2'].unique() # Returns an array of all the new unique values
df['col2'].nunique() # Returns the number of new unique values
df['col2'].value_counts() # Returns the number of unqiue values in each column

newdf = df[(df['col1']>2) & (df['col2']==444)] # Select from DataFrame using criteria from multiple columns

### Applying Functions

In [ ]:
def times2(x):
    return x*2

df['col1'].apply(times2) # Multiplies all the values in col1 by two
df['col2'].apply(lambda x: x * 2) # Lamda expression

df['col3'].apply(len) # Len of each value in col3
df['col1'].sum() # Sum of all values in col1

del df['col1'] # permantly removing a column

df.columns # get column na,es
df.index # get indexes

df.sort_values(by='col2', inplace=False) # Sort the DataFrame by the values in col2

df.isnull() # Find all the null values

## Data Input and Output

### CSV

In [ ]:
df = pd.read_csv('example') # CSV Input
df.to_csv('example',index=False) # CSV Output

### Excel
Pandas can read and write excel files, keep in mind, this only imports data. Not formulas or images, having images or macros may cause this read_excel method to crash.

In [ ]:
pd.read_excel('Excel_Sample.xlsx',sheetname='Sheet1') # Excel Input
df.to_excel('Excel_Sample.xlsx',sheet_name='Sheet1') # Excel Output

### HTML

You may need to install htmllib5,lxml, and BeautifulSoup4

In [ ]:
# Search for all the table elements and returns them as a list of dataframes
df = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
df[0]

### SQL

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///:memory:') # Establishing a connection

df.to_sql('data', engine) # Output to sql tables
sql_df = pd.read_sql('data',con=engine) # Input from Sql table